@import url("https://fonts.googleapis.com/css?family=Mina");
/*div to hold all elements*/
#container {
  background-color: black;
  width: 600px;
  height: 600px;
}
/*BAR A brown rectangle for the row*/
.bar {
  background-color: brown;
  width: 400px;
  height: 40px;
  position: relative;
}
/*BARTENDER A purple square for bartender*/
#bartender {
  background-color: purple;
  width: 40px;
  height: 80px; /*must be set here, tried to put it in the js*/
  position: absolute; /*must be absolute!*/
}
/*CUSTOMER The customer will be a red square moving to the right*/
.customers {
  position: absolute;
  top: 60px;
}
.customer {
  background-color: red;
  width: 40px;
  height: 80px;
  position: relative;
}
/*BEER The beer will be white for 2 seconds and change to yellow before it will be sent down the row*/
.beers {
  position: absolute;
  background-color: green;
  top: 60px;
}
.beer {
  background-color: yellow;
  width: 15px;
  height: 30px;
  position: absolute;
  /*  needs to be absolute */
  display: none;
}
.glass {
  background-color: white;
  width: 15px;
  height: 30px;
  position: relative;
}
/*POINTS The beer will be white for 2 seconds and change to yellow before it will be sent down the row*/
#points {
  font-family: "Mina";
  font-size: 26px;
  padding: 0 0 0 15px;
  height: 30px;
  color: white;
  position: absolute;
  top: 15px;
}
/*LIVES The beer will be white for 2 seconds and change to yellow before it will be sent down the row*/
#lives {
  position: absolute;
  top: 10px;
  left: 250px;
  margin: 10px auto;
  /* background-color: green; */
  width: 100px;
  height: 30px;
}
#lives .beer {
  display: block;
}
#lifeLost {
  background-color: red;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 8px;
}
#lifeLost h1,
#end h1 {
  font-family: "Mina";
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 200px;
}
#end {
  background-color: purple;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 8px;
}
