@import url("https://fonts.googleapis.com/css?family=Mina");
/*div to hold all elements*/
#container {
  background-color: black;
  width: 600px;
  height: 600px;
}
/*BAR */
.bar {
  background-color: brown;
  width: 400px;
  height: 40px;
  position: relative;
}
/*BARTENDER */
#bartender {
  background-color: purple;
  width: 40px;
  height: 80px; /*must be set here, tried to put it in the js*/
  position: absolute; /*must be absolute!*/
}
/*CUSTOMER */
.customer {
  background-color: red;
  width: 40px;
  height: 80px;
  position: absolute;
}
/*BEER */
.beer {
  background-color: yellow;
  width: 15px;
  height: 30px;
  position: absolute;
  /*  needs to be absolute */
  display: none;
}
.glass {
  background-color: white;
  width: 15px;
  height: 30px;
  position: relative;
}
/*POINTS and LEVEL DISPLAYS */
#points, #level {
  font-family: "Mina";
  font-size: 26px;
  padding: 0 0 0 15px;
  height: 30px;
  color: white;
  position: absolute;
}
#points {
  top: 15px;
}
#level {
  top: 560px;
  left: 560px;
}
/*LIVES and END DISPLAYS */
#lives {
  position: absolute;
  top: 10px;
  left: 250px;
  margin: 10px auto;
  /* background-color: green; */
  width: 100px;
  height: 30px;
}
#lives .beer {
  display: block;
}
#readyToServe {
  background-color: red;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 8px;
}
#readyToServe h1,
#end h1 {
  font-family: "Mina";
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 200px;
}
#end {
  background-color: purple;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 8px;
}
