@import url("https://fonts.googleapis.com/css?family=Mina");
/*div to hold all elements*/
html {
  font-family: "Mina";
  background-color: black;
  padding: 40px;
}

#container, #readyToServe, #beerTapper, #instructions, #end, #enterHighScore {
  background-color: black;
  width: 600px;
  height: 600px;
  color: yellow;
  border-radius: 25px;
  border: 1px dotted yellow;
}
#container {
  position: relative;
  margin: 0 auto;
}
/*BAR */
.bar {
  background-color: brown;
  width: 400px;
  height: 40px;
  position: relative;
}
/*BARTENDER */
#bartender {
  background: url(../images/bartender.svg) no-repeat;
  width: 50px;
  height: 150px; /*must be set here, tried to put it in the js*/
  position: absolute; /*must be absolute!*/
}
/*CUSTOMER */
.customer {
  background: url(../images/customer.svg) no-repeat;
  /* background-color: red; */
  width: 40px;
  height: 80px;
  position: absolute;
}
/*BEER */
.beerLife {
  background: url(../images/beerLife.svg) no-repeat;
  /* background-color: yellow; */
  width: 25px;
  height: 50px;
  position: absolute;
}
.beerContainer {
  position: absolute;
}
.glass {
  /* background: url(http://www.tarafenton.com/2018/codepen/images/beer.svg) no-repeat; */
  background: url(../images/beer2.svg) no-repeat;
  position: relative;
  width: 100px;
  height: 50px;
  z-index: 2;
}
.beer {
  background-color: yellow;
  position: absolute;
  width: 21px;
  height: 1px;
  z-index: 1;
  top:47px;
  left: 8px;
}
/*POINTS and LEVEL DISPLAYS */
#points, #level {
  font-size: 26px;
  padding: 0 0 0 15px;
  height: 30px;
  color: white;
  position: absolute;
}
/* #level {
  top: 10px;
  left:10px;
} */
#points {
  top: 15px;
}
#level {
  top: 560px;
  left: 540px;
}
/*LIVES and END DISPLAYS */
#lives {
  position: absolute;
  top: 0px;
  left: 270px;
  width: 100px;
  margin: 10px auto ;
}
#readyToServe, #beerTapper, #instructions, #end, #enterHighScore {
  position: absolute;
  top: 0;
}
#beerTapper h1, #readyToServe h1 {
  position: relative;
  text-align: center;
}
#beerTapper h1 {
  top: 150px;
  font-size: 80px;
}
#readyToServe h1 {
  top: 200px;
  font-size: 50px;
}
#end, #enterHighScore {
    color: purple;
}
#end h1, #enterHighScore h1 {
  text-align: center;
  font-size: 50px;
}
/*text input for high scores*/
#highName {
  font-size: 26px;
  text-transform: uppercase;
  background-color: black;
  color: yellow;
    padding: 10px;
    border: 2px solid;
}
h2 {
  display:inline-block;
  padding: 25px 38px;
}
h3 {
  color: yellow;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
button {
  font-family: "Mina";
  background-color: black;
  border: none;
  color: purple;
  /*padding: 5px 15px;*/
  font-size: 34px;
  font-weight: bold;
}
/*to remove the blue highlight on button*/
button:focus, input:focus {outline:0;}
* {
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#submitHighScore {
  position: relative;
  left: 398px;
}
#startButton {
  margin: 74px 164px 0 164px;
}

#instructionsText {
  padding: 0 30px 20px 30px;
}
#instructionsImages {
  padding: 0 40px;
}
#instructionsImages img {
  padding: 0 30px;
  height: 100px;
  width: 200px;
}
#closeButton {
  margin: 157px 0 0 450px;
}
#instructionsButton {
  margin: 168px 0 0 352px;
}
#gameOver {
  color: red;
}
#restartButton {
  margin: 0px 164px;
}
